html{
      display: flex;
      background-color: rgb(237, 236, 212);
      justify-content: center;
}

body {
     display: block;
     width: 80%;
    }

.cabeza {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         align-content: center;
         padding: 20px;
         background-color: rgb(127, 143, 199);
         color: white;
         font-family: sans-serif;
         font-size: 17px;
       }

#porta{
            height: 100px;
            width: 94px;
                         }

#spamestilo {
               font-size:25px;
               cursor:pointer;
               padding: 5px;
               background-color:white;
               color:black;
               border-width: medium;
               border-radius: 450px;
               border-color: black;
               align-self: center;
            }

            /*Just to experiment */
.presentation {
               height: 750px;
               display: flex;
               flex-wrap: wrap;
               justify-content: center;
               align-content: center;
               background: url(restaurant01.jpg)no-repeat center center;
               background-size: cover;
            }

.buffer{
         height: 5rem;
}

.input-pos{
            max-width: 300px;
}

#titulo {
         background-color: rgb(241, 134, 134);
         padding: 20px;
         height: 100px;
}

.menu1 {
         display: flex;
         flex-wrap:wrap;
         background-color: black;
         justify-content: center;

      }

.menu1 .imagen {
            width: 390px;
            height: 220px;
            margin:3px;
            transition: all 0.4s;
          }

.imagen:hover {
            transform: scale(1.1);
}

#menu2 {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         align-content: space-around;
         background-color: rgb(251, 189, 224);
         padding: 20px;
}

.opc2 {
            padding: .6rem 1rem;
            font-size: 2.5rem;
            line-height: 1.5;
            border-radius: .4rem;
            margin: 25px;
            /*font-size: 2.5rem;*
            font-weight: 300;
            padding: 30px;

            background-color: white;*/
            border-style: outset;
            border-color: black;
            box-shadow: 6px 6px 7px #888888;
}

.foot1 {
         /*display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         background-color: rgba(102, 255, 225);
         /*height: 70px;*/
         margin: 5px;
         background-color: #dcf1f4;
}

.pie {
            font-size: 20px;
            padding: 5px;
            background-color: white;
            border-color: black;
}

.foot2{
         display: flex;
         flex-wrap: wrap;
         height: 100px;
         background-color: #5b5959;
         color: white;
         justify-content: center;
         align-content: center;
         font-size: 0.7rem;
         margin: 10px;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
